---exec silver.pro_load_silver
---use cbedatawarehouse ;
exec load_silver
create procedure load_silver  as 
begin 


TRUNCATE TABLE silver.crm_cust_info;
		PRINT '>> Inserting Data Into: silver.crm_cust_info';
		INSERT INTO silver.crm_cust_info (
			cst_id, 
			cst_key, 
			cst_firstname, 
			cst_lastname, 
			cst_marital_status, 
			cst_gndr,
			cst_create_date
		)
		SELECT
			cst_id,
			cst_key,
		cst_firstname AS cst_firstname,
			cst_lastname AS cst_lastname,
			CASE 
				WHEN UPPER(cst_marital_status) = 'S' THEN 'Single'
				WHEN UPPER(cst_marital_status) = 'M' THEN 'Married'
				ELSE 'n/a'
			END AS cst_marital_status, -- Normalize marital status values to readable format
			CASE 
				WHEN UPPER (cst_gndr) = 'F' THEN 'Female'
				WHEN UPPER(cst_gndr) = 'M' THEN 'Male'
				ELSE 'n/a'
			END AS cst_gndr, -- Normalize gender values to readable format
			cst_create_date
		FROM (
			SELECT
				*,
				ROW_NUMBER() OVER (PARTITION BY cst_id ORDER BY cst_create_date DESC) AS flag_last
			FROM bronze.crm_cust_info
			WHERE cst_id IS NOT NULL
		) t
		WHERE flag_last = 1; -- Select the most recent record per customer
		
--silver.crm_prd_info 

truncate table silver.crm_prd_info 

INSERT INTO silver.crm_prd_info
(
prd_id,
cat_id ,
prd_key,
prd_nm,
prd_cost,
prd_line,
prd_start_dt,
prd_end_dt
)
select 

prd_id ,
replace (substring (prd_key,1,5),'-','_') as cat_id ,
substring (prd_key ,7,len(prd_key)) as prd_key,
prd_nm,
isnull (prd_cost ,0) as prd_cost ,
 case (prd_line ) when 'M' then 'mountain '
                  when 'R' then 'rroad '
				  when 'T' then 'touring '
				  when 'S' then  'other sale'
				  else 'n/a'
				  end as prd_line ,
prd_start_dt,
LEAD(prd_start_dt)  over (partition by prd_key order by prd_start_dt) - 1  as prd_end_dt 
from bronze.crm_prd_info 


--- crm_sales _details 

truncate table silver.crm_sales_details
  INSERT INTO silver.crm_sales_details
  (
sls_ord_num,
  sls_prd_key,
  sls_cust_id ,
  sls_order_dt ,
  sls_ship_dt  ,
  sls_due_dt,  
  sls_sales ,
  sls_quantity ,
  sls_price
  )
    select 
	sls_ord_num,
  sls_prd_key,
  sls_cust_id ,

  case when sls_order_dt = 0 or len (sls_order_dt)!=8 then null
        else cast (cast (sls_order_dt as varchar )as date) 
		end as sls_order_dt ,
  case when sls_ship_dt = 0 or len (sls_ship_dt)!=8 then null
        else cast (cast (sls_ship_dt as varchar )as date) 
		end as sls_ship_dt  ,
  case when sls_due_dt = 0 or len (sls_due_dt)!=8 then null
        else cast (cast (sls_due_dt as varchar )as date) 
		end as sls_due_dt  ,

		case when sls_sales is null or sls_sales <0 or sls_sales != abs( sls_price) * sls_quantity
		then sls_quantity  * abs(sls_price) 
		else sls_sales 
		end as sls_sales ,
		case when sls_quantity  is null or sls_quantity  <0 or sls_quantity  != abs( sls_sales) / abs(sls_quantity)
		then sls_sales /  abs(sls_price) 
		else sls_quantity
		end as sls_quantity,
		
		case when sls_price is null or sls_price  <0 or sls_price  != abs( sls_sales) / sls_quantity
		then sls_sales /  abs( sls_quantity) 
		else sls_price
		end as sls_price

		from bronze.crm_sales_details

   
/*q5 how to standardz the prd_line vlaue M  R ,S,T 
answer u*/


--load silver.erp_cust_az12
truncate table silver.erp_cust_az12
insert into silver.erp_cust_az12
(
cid ,
bdate ,
gen
)

select 

case when cid like 'NAS%' then substring (cid, 4 ,len(cid))
else cid 
end as cid,
bdate ,
case when gen in ('F', 'Female','FEMALE') THEN 'FEMALE'
     WHEN  gen in ('m' ,'M' ,'MAle' , 'MALE') THEN 'MALE'
	 ELSE 'N/A'
	end  as gen
	 
from bronze.erp_cust_az12

/*=============load sales_detaile table from bronze to silver layer 
*step 1 check the bronze layer quality issue 
 the date muset be in the date format therefore chang fromt the intigner to the date then change to the 
 date format 
 the date must be 8 lenght 
 iuf the date is 0 then make it null 
*/
 /*q11 there is the business rule the sale = quantitiy * the price and 
 there valuemust be non negatove not null */


 -- Loading erp_loc_a101
       
		
		TRUNCATE TABLE silver.erp_loc_a101;
	
		INSERT INTO silver.erp_loc_a101 (
			cid,
			cntry
		)
		SELECT
			REPLACE(cid, '-', '') AS cid, 
			CASE
				WHEN cntry = 'DE' THEN 'Germany'
				WHEN cntry IN ('US', 'USA') THEN 'United States'
				WHEN cntry  = '' OR cntry IS NULL THEN 'n/a'
				ELSE cntry
			END AS cntry -- Normalize and Handle missing or blank country codes
		FROM bronze.erp_loc_a101;
	  
-----silver.erp_px_cat_g1v2;
TRUNCATE TABLE silver.erp_px_cat_g1v2;
		
		INSERT INTO silver.erp_px_cat_g1v2 (
			id,
			cat,
			subcat,
			maintenance
		)
		SELECT
			id,
			cat,
			subcat,
			maintenance
		FROM bronze.erp_px_cat_g1v2;
		end